main {
    display: flex;
    justify-content: center;
    background-color: aqua;
}

p {
    width: 300px;
    background-color: pink;
}

.test2 {
    background-color: red;
}

.test3 {
    background-color: lightblue;
}